<footer class="navbar navbar-fixed-bottom navbar-inverse">
  <small>
    <a href="#">Personal Portfolio</a>
    by Karthik Halukurike
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://www.tradeking.com/">Powered By TradeKing</a></li>
    </ul>
  </nav>
</footer>
